profiles {
  debug {
    params {
      db = "/lb/project/mugqic/projects/jmgarant/run_prcssg_monitor/monitor/runp_test/processing.db"
      email {
        onstart = "jean-michel.garant@computationalgenomics.ca"
        onfinish = "jean-michel.garant@computationalgenomics.ca"
      }
      neweventpath = "/lb/project/mugqic/projects/jmgarant/run_prcssg_monitor/monitor/events/*.txt"
      newruninfopath = "/lb/project/mugqic/projects/jmgarant/run_prcssg_monitor/monitor/events/*.json"
      custom_ini = "${projectDir}/assets/fzmn-child-process.ini"
      illumina {
        outdir = "/lb/project/mugqic/projects/jmgarant/run_prcssg_monitor/monitor/runp_test"
        miseq = "/nb/Research/Miseq/230529_M03555_0646_000000000-L3RFP/RTAComplete.txt"
        hiseqx = "/nb/Research/hiseqX/220128_E00433_0260_AHHCFCCCX2_10533HS22A/RTAComplete.txt"
        novaseq = "/nb/Research/Novaseq/230512_A00266_0793_AH3MCCDRX3_ConnaughtonQ020903/RTAComplete.txt"
        iseq1 = "/nb/Research/iSeq/RUNS/20230525_FS10000133_91_BTC69702-2507/RTAComplete.txt"
        iseq2 = "/nb/Research/iSeq/RUNS/atlasfs/researchISeq/RUNS/20190517_FS10000133_35_BPC29602-3225/RTAComplete.txt"
      }
      mgi {
        outdir = "/lb/project/mugqic/projects/jmgarant/run_prcssg_monitor/monitor/runp_test"
      }
    }
  }
}

manifest {
    name = "C3G run processing monitor"
    description = "Background process that monitor and/or launch the run\
    processing of samples on the Abacus cluster."
    version = "0.0.2-unstable"
    homePage = "https://github.com/c3g/monitor"
    defaultBranch = "main"
    recurseSubmodules = true
    nextflowVersion = ">=20.07.1-edge"
    author = "Jean-Michel Garant,Édouard Henrion,Robert Syme"
}
