plugins {
  id 'nf-sqldb@0.2.0'
}

params.oldeventpath = "/lb/robot/research/processing/events/system/202[12]/*/*_samples*.txt"
params.novaseqflagfiles = "/nb/Research/Novaseq/*/SequenceComplete.txt"

profiles {
  production {
    params {
      db = "/nb/Research/processingmgiscratch/processing.db"
      email {
        onstart = 'edouard.henrion@mcgill.ca'
        onfinish = 'edouard.henrion@mcgill.ca,janick.st-cyr@mcgill.ca,marlon.amersi@mcgill.ca,lena.lichunfong@mcgill.ca,haig.djambazian@mcgill.ca'
      }
      emailoncrash = true
      ingest = false
      neweventpath = "/lb/robot/research/processing/events/*.txt"
      newruninfopath = "/nb/home/freezeman-lims/freezeman-lims-run-info/*.json"
      commit = 'run_processing'
      genpipes = false
      nomail = false
      illumina {
        outdir = '/nb/Research/processing'
        miseq = '/nb/Research/Miseq/*/RTAComplete.txt'
        hiseqx = '/nb/Research/hiseqX/*/RTAComplete.txt'
        novaseq = '/nb/Research/Novaseq/*/RTAComplete.txt'
        iseq1 = '/nb/Research/iSeq/RUNS/*/RTAComplete.txt'
        iseq2 = '/nb/Research/iSeq/RUNS/atlasfs/researchISeq/RUNS/*/RTAComplete.txt'
      }
      mgi {
        outdir = '/nb/Research/processingmgiscratch/processing'
        g400 {
          success = "/nb/Research/MGISeq/seq[12]/R213040019001[68]/*/*_Success.txt"
        }
        t7 {
          flags = "/nb/Research/MGISeq/T7/*/flag"
          custom_ini = "${projectDir}/assets/production.t7.ini"
          demux = true
        }
      }
    }
  }

  debug {
    params {
      db = "/nb/home/freezeman-qc/rp_test/"
      email {
        onstart = 'jean-michel.garant@computationalgenomics.ca,edouard.henrion@mcgill.ca,'
        onfinish = 'jean-michel.garant@computationalgenomics.ca,edouard.henrion@mcgill.ca'
      }
      emailoncrash = false
      ingest = false
      neweventpath = "/lb/robot/research/processing/events/*.txt"
      newruninfopath = "/nb/home/freezeman-qc/freezeman-lims-run-info/*.json"
      commit = 'run_processing'
      genpipes = false
      nomail = false
      illumina {
        outdir = '/nb/home/freezeman-qc/rp_test'
        miseq = '/nb/Research/Miseq/*/RTAComplete.txt'
        hiseqx = '/nb/Research/hiseqX/*/RTAComplete.txt'
        novaseq = '/nb/Research/Novaseq/*/RTAComplete.txt'
        iseq1 = '/nb/Research/iSeq/RUNS/*/RTAComplete.txt'
        iseq2 = '/nb/Research/iSeq/RUNS/atlasfs/researchISeq/RUNS/*/RTAComplete.txt'
      }
      mgi {
        outdir = '/nb/home/freezeman-qc/rp_test'
        g400 {
          success = "/nb/Research/MGISeq/seq[12]/R213040019001[68]/*/*_Success.txt"
        }
        t7 {
          flags = "/nb/Research/MGISeq/T7/*/flag"
          custom_ini = "${projectDir}/assets/debug.t7.ini"
          demux = true
        }
      }
    }
  }

  dev {
    params {
      db = "processing.dev.db"
      email {
        onstart = 'jean-michel.garant@computationalgenomics.ca,edouard.henrion@mcgill.ca'
        onfinish = 'jean-michel.garant@computationalgenomics.ca,edouard.henrion@mcgill.ca'
      }
      emailoncrash = false
      ingest = false
      neweventpath = "${projectDir}/assets/testing/events/*.txt"
      newruninfopath = "/home/freezeman-qc/freezeman-lims-run-info/*.json"
      commit = 'run_processing'
      genpipes = "/nb/home/freezeman-qc/src/bitbucket.org/genpipes"
      nomail = false
      illumina {
        outdir = '/nb/home/freezeman-qc/rp_test'
        miseq = '/nb/Research/Miseq/*/RTAComplete.txt'
        hiseqx = '/nb/Research/hiseqX/*/RTAComplete.txt'
        novaseq = '/nb/Research/Novaseq/*/RTAComplete.txt'
        iseq1 = '/nb/Research/iSeq/RUNS/*/RTAComplete.txt'
        iseq2 = '/nb/Research/iSeq/RUNS/atlasfs/researchISeq/RUNS/*/RTAComplete.txt'
      }
      mgi {
        outdir = '/nb/home/freezeman-qc/rp_test'
        g400 {
          success = "/nb/Research/MGISeq/seq[12]/R213040019001[68]/*/*_Success.txt"
        }
        t7 {
          flags = "${projectDir}/assets/testing/flags"
          custom_ini = "${projectDir}/assets/debug.t7.ini"
          demux = true
        }
      }
    }
  }
}

manifest {
    description = 'C3G run processing monitor'
    version = '0.0.1'
    defaultBranch = 'main'
    nextflowVersion = '22.07.1-edge'
}
