plugins {
  id 'nf-sqldb@0.2.0'
}

params {
  db = "runprocessing.db"
}

params.oldeventpath = "/lb/robot/research/processing/events/system/202[12]/*/*_samples*.txt"
params.novaseqflagfiles = "/nb/Research/Novaseq/*/SequenceComplete.txt"

profiles {
  production {
    params {
      nomail = false
      email {
        onstart = 'robert.syme@mcgill.ca'
        onfinish = 'robert.syme@mcgill.ca,edouard.henrion@mcgill.ca,janick.st-cyr@mcgill.ca,haig.djambazian@mcgill.ca'
      }
      emailoncrash = true
      ingest = false
      neweventpath = "/lb/robot/research/processing/events/*.txt"
      commit = 'run_processing'
      genpipes = false
      mgi {
        outdir = '/nb/Research/processingmgiscratch/processing'
        t7 {
          flags = "/nb/Research/MGISeq/T7/*/flag/*.json"
          custom_ini = "${projectDir}/assets/production.t7.ini"
          demux = true
        }
      }
    }
  }

  dev {
    params {
      nomail = false
      email {
        onstart = 'robert.syme@mcgill.ca'
        onfinish = 'robert.syme@mcgill.ca'
      }
      emailoncrash = false
      ingest = false
      neweventpath = "testing/events/*.txt"
      commit = 'run_processing'
      genpipes = false
      mgi {
        outdir = '/nb/Research/processingmgiscratch/processing'
        t7 {
          flags = "testing/flag/*.json"
          custom_ini = "${projectDir}/assets/debug.t7.ini"
          demux = true
        }
      }
    }
  }
}

manifest {
    description = 'C3G run processing monitor'
    version = '0.0.1'
    defaultBranch = 'main'
    nextflowVersion = '22.07.1-edge'
}
